body {
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, #c9849d, #74c5ee); /* Degradado de rosa a celeste */
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita el scroll si el confeti se sale del viewport */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 10px;
}



.header {
    margin-top: 50px;
    padding: 15px; /* Ajusta el padding para que el contenido esté más compacto */
    border-radius: 10px;
    font-size: 18px; /* Reduce el tamaño del texto del encabezado */
}
.h1{
    font-size: 18px;
}

.countdown {
    font-size: 18px; /* Reduce el tamaño del texto del contador */
    margin: 15px 0;
}

.reveal-button {
    padding: 8px 16px; /* Ajusta el padding del botón */
    font-size: 16px; /* Reduce el tamaño del texto del botón */
    color: #ffffff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.1s;
}

.reveal-button:hover {
    background-color: #0056b3;
}

.reveal-message {
    font-size: 28px; /* Reduce el tamaño del texto del mensaje de revelación */
    margin-top: 15px;
}

@keyframes confetti {
    0% { transform: translateY(0); }
    100% { transform: translateY(100vh); }
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: confetti 2s linear infinite;
}

.confetti.pink { background-color: #ff77aa; }